{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body>
    {% include 'navegacao.html' %}
    <br><br>
    <div class="container">
        <h1>Entre em Contato Conosco</h1>
        <p>Se você tiver qualquer dúvida, reclamação ou sugestão sobre nossos serviços, não hesite em nos contatar. Envie um e-mail para <a href="mailto:suporte@ghfconvert.online">suporte@ghfconvert.online</a> e nossa equipe responderá o mais rápido possível.</p>
        <p>Estamos disponíveis para ajudar de segunda a sexta-feira, das 9h às 18h. Agradecemos seu feedback e faremos o possível para atender suas necessidades.</p>
    </div>
        {% include 'rodape.html' %}
</body>
</html>
