{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baixador de vídeo do Instagram</title>
    <link rel="icon" href="{% static 'images/ghfconvert.ico' %}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static 'images/ghfconvert.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{% static 'css/instagram.css' %}">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-Y3P912PECQ"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-Y3P912PECQ');
    </script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="/"><span style="color: rgb(3, 142, 255);">GHF</span>Convert</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'youtube' %}">YouTube</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'facebook' %}">Facebook</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'instagram_page' %}">Instagram <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container text-center mt-5">
        <h1 class="display-4">Baixador de vídeo do <span style="color: rgb(3, 142, 255);">Instagram</span></h1>
        <p class="lead">Baixe e salve vídeos do Instagram gratuitamente</p>
        <form id="videoForm" method="post" class="form-inline justify-content-center mt-4">
            {% csrf_token %}
            <div class="input-group w-100">
                <input type="text" name="url" class="form-control" placeholder="https://www.instagram.com/p/CJX7rL6gO6G/" required>
                <div class="input-group-append">
                    <button id="submitButton" class="btn btn-primary" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
        <small class="form-text text-muted mt-2">Ao usar nosso serviço, você aceita nossos <a href="{% url 'termos' %}">Termos de Serviço</a></small>

        <div id="videoInfo" class="container text-center mt-5" style="display: none;">
            <div class="row">
                <div class="col-md-8">
                    <div class="icon-container">
                        <i class="bi bi-instagram"></i>
                    </div>
                    <h3 id="videoTitle">Título do Vídeo</h3>
                    <div id="statusMessage" class="mt-3"></div>
                    <button id="downloadButton" class="btn btn-primary mt-4">Baixar</button>
                </div>
            </div>
        </div>
    </div>

<div class="instructions text-center">
    <h2>Como baixar o vídeo do <span style="color: rgb(3, 142, 255);">Instagram</span>?</h2>
    <div id="instructionsCarousel" class="carousel slide d-md-none" data-ride="carousel" data-interval="3000">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row justify-content-center">
                    <div class="col-md-4 d-flex flex-column align-items-center">
                        <div class="icon-wrapper">
                            <i class="bi bi-clipboard" style="font-size: 40px; color: #007bff;"></i>
                        </div>
                        <p class="instruction-text"><strong>PASSO 1:</strong><br>Copie o URL do vídeo do Instagram<br>que deseja baixar.</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row justify-content-center">
                    <div class="col-md-4 d-flex flex-column align-items-center">
                        <div class="icon-wrapper">
                            <i class="bi bi-hand-index-thumb" style="font-size: 40px; color: #007bff;"></i>
                        </div>
                        <p class="instruction-text"><strong>PASSO 2:</strong><br>Cole o URL no campo de pesquisa<br>e clique no botão para iniciar a conversão.</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row justify-content-center">
                    <div class="col-md-4 d-flex flex-column align-items-center">
                        <div class="icon-wrapper">
                            <i class="bi bi-cloud-download" style="font-size: 40px; color: #007bff;"></i>
                        </div>
                        <p class="instruction-text"><strong>PASSO 3:</strong><br>Selecione a qualidade para baixar o arquivo<br>no seu dispositivo.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-none d-md-block">
        <div class="row justify-content-center">
            <div class="col-md-4 d-flex flex-column align-items-center">
                <div class="icon-wrapper">
                    <i class="bi bi-clipboard" style="font-size: 40px; color: #007bff;"></i>
                </div>
                <p class="instruction-text"><strong>PASSO 1:</strong><br>Copie o URL do vídeo do Instagram<br>que deseja baixar.</p>
            </div>
            <div class="col-md-4 d-flex flex-column align-items-center">
                <div class="icon-wrapper">
                    <i class="bi bi-hand-index-thumb" style="font-size: 40px; color: #007bff;"></i>
                </div>
                <p class="instruction-text"><strong>PASSO 2:</strong><br>Cole o URL no campo de pesquisa<br>e clique no botão para iniciar a conversão.</p>
            </div>
            <div class="col-md-4 d-flex flex-column align-items-center">
                <div class="icon-wrapper">
                    <i class="bi bi-cloud-download" style="font-size: 40px; color: #007bff;"></i>
                </div>
                <p class="instruction-text"><strong>PASSO 3:</strong><br>Clique no botão <strong>Baixar</strong> para salvar o arquivo<br>no seu dispositivo.</p>
            </div>
        </div>
    </div>
</div>

<div class="container benefits text-center">
    <h3>Por que escolher o <a class="navbar-brand" style="font-size: inherit;"><span style="color: rgb(3, 142, 255);">GHF</span>Convert?</a></h3><br>

    <div class="row">
        <div class="col-md-4 col-sm-12 d-flex justify-content-center mb-4">
            <div class="benefit-item">
                <div class="icon-container">
                    <i class="bi bi-clock-history"></i>
                </div>
                <p><strong>Rápido e Fácil</strong></p>
                <p>Com <span style="color: rgb(3, 142, 255);">GHF</span><b>Convert</b>, basta copiar a URL do vídeo do Instagram, colar no campo de pesquisa e clicar em Baixar.</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 d-flex justify-content-center mb-4">
            <div class="benefit-item">
                <div class="icon-container">
                    <i class="bi bi-film"></i>
                </div>
                <p><strong>Compatível com Vários Formatos e Qualidades</strong></p>
                <p>O <span style="color: rgb(3, 142, 255);">GHF</span><b>Convert</b> permite baixar vídeos em diversos formatos, como mp4, webm, mp3, m4a, e em diferentes qualidades, incluindo 144p, 240p, 360p, 480p, 720p e 1080p.</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 d-flex justify-content-center mb-4">
            <div class="benefit-item">
                <div class="icon-container">
                    <i class="bi bi-shield-check"></i>
                </div>
                <p><strong>Sempre Seguro e Gratuito</strong></p>
                <p>O <span style="color: rgb(3, 142, 255);">GHF</span><b>Convert</b> é totalmente <b>GRATUITO</b>. Tudo o que você precisa é de um navegador e uma conexão com a internet para baixar vídeos, sem a necessidade de criar uma conta.</p>
            </div>
        </div>
    </div>
</div>

    <footer class="footer">
        <div class="container text-center">
            <a class="navbar-brand" href="/"><span style="color: rgb(3, 142, 255);">GHF</span>Convert</a>
            <div class="footer-links">
                <a href="{% url 'politica_privacidade' %}">Política de Privacidade</a>
                <a href="{% url 'termos' %}">Termos de Uso</a>
                <a href="{% url 'contato' %}">Contato</a>
            </div>
            <p class="footer-text">© 2024 GHFConvert. Todos os direitos reservados.</p>
        </div>
    </footer>

    <div class="footer-spacer"></div>

    <script src="{% static 'js/instagram.js' %}"></script>
    
    <script>
        document.getElementById('submitButton').addEventListener('click', function(event) {
            window.open('https://www.highrevenuenetwork.com/sqjwn4h0v?key=b996c42894ea3f6ebf81baab9cacf7fe', '_blank');
        });
    </script>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
