{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GHFConvert - Instagram</title>
    <link rel="icon" href="{% static 'images/ghfconvert.ico' %}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static 'images/ghfconvert.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <style>
        .navbar {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="/"><span style="color: rgb(3, 142, 255);">GHF</span>Convert</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">YouTube</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Facebook</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'instagram_page' %}">Instagram <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container text-center mt-5">
        <h1 class="display-4">Baixador de vídeo do <span style="color: rgb(3, 142, 255);">Instagram</span></h1>
        <p class="lead">Baixe e salve vídeos do Instagram gratuitamente</p>
        <form id="videoForm" method="post" class="form-inline justify-content-center mt-4">
            {% csrf_token %}
            <div class="input-group w-100">
                <input type="text" name="url" class="form-control" placeholder="https://www.instagram.com/p/CJX7rL6gO6G/" required>
                <div class="input-group-append">
                    <button id="submitButton" class="btn btn-primary" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
        <small class="form-text text-muted mt-2">Ao usar nosso serviço, você aceita nossos <a href="{% url 'termos' %}">Termos de Serviço</a></small>
    </div>

    <div id="videoInfo" class="container text-center mt-5" style="display: none;">
        <div class="row">
            <div class="col-md-8">
                <img id="thumbnail" src="" alt="Thumbnail" class="img-fluid rounded mb-3">
                <h3 id="videoTitle">Título do Vídeo</h3>
                <button id="downloadButton" class="btn btn-primary">Baixar</button>
            </div>
        </div>
    </div>

    <script>
        document.getElementById('videoForm').addEventListener('submit', function(event) {
            event.preventDefault();
            const url = document.querySelector('input[name="url"]').value.trim();

            if (!url) {
                alert('Por favor, insira uma URL válida.');
                return;
            }

            const formData = new FormData(this);

            // Abrir nova guia
            window.open('https://www.highrevenuenetwork.com/sqjwn4h0v?key=b996c42894ea3f6ebf81baab9cacf7fe', '_blank'); /* LINK ADS */

            // Continuar com a função atual do botão
            fetch('/instagram-download/', {
                method: 'POST',
                body: formData
            })
            .then(response => {
                if (response.ok) {
                    return response.blob();
                } else {
                    return response.json().then(data => {
                        alert(data.error || 'Falha no download.');
                    });
                }
            })
            .then(blob => {
                const a = document.createElement('a');
                a.href = URL.createObjectURL(blob);
                a.download = 'video.mp4'; // Ajuste o nome do arquivo conforme necessário
                a.click();
            })
            .catch(error => {
                alert('Erro na solicitação: ' + error.message);
            });
        });
    </script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
