<div class="menu-container">
    <div class="menu-wrapper">
        <div class="menu-text">
            <strong>Escolha abaixo o formato que deseja baixar</strong>
        </div>
        
        <ul class="menu">
            <li class="menu-item">
                <a href="{% url 'youtube' %}">
                    <i class="bi bi-play-btn"></i>
                    <span>MP4</span>
                </a>
            </li>
            <li class="menu-item">
                <a href="{% url 'youtube_audio' %}">
                    <i class="bi bi-file-earmark-music"></i>
                    <span>MP3</span>
                </a>
            </li>
        </ul>
    </div>
</div>