body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

h1, h2 {
    color: #333;
}

.navbar-brand {
    font-weight: bold;
}

/* Define o fundo do nav como branco */
.navbar {
    background-color: #ffffff; /* Branco */
}

.form-inline {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#videoInfo {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Centraliza o texto dentro da div */
}

#videoInfo .row {
    justify-content: center; /* Centraliza o conteúdo da coluna */
}

#videoInfo .col-md-8 {
    text-align: center; /* Centraliza o conteúdo dentro da coluna */
}

.display-4 {
    font-size: 2.5rem;
    font-weight: 300;
}

.lead {
    font-size: 1.25rem;
    font-weight: 300;
}

.input-group {
    max-width: 100%;
}

input[type="text"] {
    flex-grow: 1;
    border-radius: 0.25rem 0 0 0.25rem;
}

button[type="submit"] {
    border-radius: 0 0.25rem 0.25rem 0;
}

#videoTitle {
    font-size: 1.5rem;
    font-weight: bold;
}

.alert {
    font-size: 1rem;
}

small.form-text.text-muted {
    font-size: 0.875rem;
    color: #6c757d;
}

#thumbnail {
    max-width: 100%;
    height: auto;
    margin: 0 auto; /* Centraliza a imagem horizontalmente */
    display: block; /* Garante que a imagem seja exibida como um bloco */
}
