body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

h1, h2 {
    color: #333;
}

.navbar-brand {
    font-weight: bold;
}

/* Define o fundo do nav como branco */
.navbar {
    background-color: #ffffff; /* Branco */
}

.form-inline {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#videoInfo {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Centraliza o texto dentro da div */
}

#videoInfo .row {
    justify-content: center; /* Centraliza o conteúdo da coluna dentro da linha */
}

#videoInfo .col-md-8 {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza os itens dentro da coluna */
}

#videoInfo img {
    max-width: 100%; /* Garante que a imagem não ultrapasse a largura da coluna */
    height: auto;
}

.btn-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 20px;
    margin-bottom: 10px;
}

#formatSelector {
    max-width: 300px;
    margin: 0 auto;
}

#downloadButton {
    display: block;
    margin: 20px auto; /* Espaçamento vertical */
}

/* Ajustar a largura do campo de input no desktop */
@media (min-width: 768px) {
    #videoForm .input-group {
        width: 100%; /* Ocupa toda a largura da div */
    }
}

/* Estilizar o botão de busca */
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary i {
    margin-right: 5px;
}

/* Estilizar o botão de download */
#downloadButton {
    background-color: #007bff; /* Azul */
    border-color: #007bff;
}

#downloadButton i {
    margin-right: 5px;
}

.form-text.text-muted.mt-2 a {
    text-decoration: none; /* Remove o sublinhado por padrão */
}

.form-text.text-muted.mt-2 a:hover {
    text-decoration: none; /* Remove o sublinhado ao passar o mouse */
}